/*EVERY PAGE*/
* { font-family: 'Maven Pro', sans-serif; }
.centering { text-align: center; }
.push-2 { display: flex; justify-content: flex-end; }
 h1 {
 	font-size: 36px;
 }
 h2 {
     color: #136e91;
     font-size: 36px;
     text-align: center;
     margin-bottom: 30px;
 }
 p {
 	font-weight: 400;
 }
 .marginRows {
 	margin: 20px 0;
 }
 .extraRow {
	display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    flex-wrap: wrap;
}
.topMargin {
	margin-top: 30px;
}
 .obxUppercase {
     text-transform: uppercase;
 }

/*HEADER & NAVIGATION*/
/*navigation*/
nav { background-color: #4B87C5; padding: 10px 0; border: 20px solid #23527c; }
nav ul li { list-style: none; }
nav ul li a { text-decoration: none; font-size: 20px; font-weight: 400; color: #fff; }
nav ul li a:hover { text-decoration: none; font-weight: bold; }
nav .logo { width: 10%; vertical-align: bottom; margin-right: 15px; }
nav .logoHeader { color: #fff; font-size: 40px; }

/*FOOTER*/
#footer{background:#9d3477;border-top:3px solid #FF704D;padding:40px 5px 80px 0;}
#footer .logo{width:30%;}
#footer .logoHeader{color:#fff;font-size:20px;}
#footer ul{list-style:none;}
#footer ul li a{color:#fff;font-size:16px;font-weight:500;}
#footer .heading{color:#FF704D;font-size:20px;font-weight:500;text-transform:uppercase;margin-bottom:10px;}
#footer .social{width:100%;}
#footer ul{margin:0;padding:0;}

/* =============
INDEX SPECIFIED 
=============== */

/* top header */
.full-banner{background-color:#9d3477;height:450px;margin-bottom:0;}
.full-banner h1{color:#fff;}
.articleheading{margin-top:10%;}
.articleheading p{color:#fff;}
.full-banner .background-dark-article{background-color:#7c295e;padding:20px 30px 20px 55px;min-height:145px;margin:20px 0;position:relative;}
.full-banner .mainimg-ecommerce{position:absolute;top:-20px;right:-30px;width:18%;}
.line2{font-size:22px;line-height:32px;font-weight:400;display:block;color:#fff;font-weight:500;}
.underline{text-decoration:underline;}

/* article*/
.pngHeader{width:30%;margin-bottom:20px;}
.articleTitle{font-size:26px;text-align:center;font-weight:bold;}
.headlineName p{margin-top:10px;font-weight:700;color:#23527c;font-size:16px;text-decoration:none;
 }

/*section 2*/
.orangeList{padding:25px 0px 25px 30px;border-left:#FF704D 10px solid;margin:0px 0 50px 0;min-height:295px;}
.orangeList ul{color:#3c3c3c;margin-top:-10px;}
.callout{font-size:32px;color:#0D9C7D;font-weight:500;line-height:1.1;}

 /* Orange List 2 */
.orangeList-2 { padding: 25px 0px 25px 30px; border-left: #FF704D 10px solid; margin: 0px 0 50px 0; min-height: 220px; }
.orangeList-2 ul { color: #3c3c3c; margin-top: -10px;}

/*Banner 2*/
.full-banner-2{background-color:#2f8c15;margin-bottom:40px;min-height:450px;}
.full-banner-2 .background-dark-article{background-color:#256e11;padding:30px 30px 0px 30px;min-height:145px;margin:20px 0;position:relative;}
.full-banner-2 .faux-h1{color:white;font-size:36px;}
.full-banner-2 .line2{font-size:22px;line-height:32px;font-weight:400;display:block;}
.full-banner-2 .mainimg-ecommerce{position:absolute;top:-40px;right:-5px;width:18%;}
 
 /* Callout */
.borderBlue{background:#4B87C5;}
.png15{width:15%;}
.calloutBox{padding:30px;color:#fff;}
.callOutText{padding:10px 60px;font-size:20px;}

/* Video */ 
.video { margin: 30px 0; text-align: center; }
.video iframe { width: 60%; height: 375px; }

/*PAGE 2 & 3*/
 .obxremovePadding {
     padding: 0 !important;
 }

 /*TOP BANNER*/
.bannerTopCabinets { background: url('img/dawn-dusk-lake-355423.jpg'); height: 394px; background-size: cover; position: relative; margin-left: -32%; margin-right: -30%; }
.callOutBlock { background-color: rgba(1, 27, 53, 0.69); position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; top: 15%; text-align: center; width: 30%; color: #fff; padding: 20px 20px 40px 20px; width: 500px; min-height: 200px; }
.showroomTitle { font-size: 50px; line-height: 1.2; }
.showroomBlack { font-weight: 900; font-size: 34px; line-height: 34px; margin: 20px 0; }

 /* BUTTONS */
.showBtn{padding:15px 25px;color:white;border:none;min-width:180px}
a{text-decoration:none;font-size:12px;font-weight:700;color:#fff}
.salmon{background-color:#FF704D}
.green{background-color:#0D9C7D}

 /* MAIN CONTENT */
  .showImage {
     padding: 0;
     background: url('img/critique-design-designer-17845.jpg') no-repeat;
     background-size: cover;
     background-position: center;
 }

 .showImage img {
     max-width: 100%;
 }
 .mainOverlay {
     background-color: #35485C;
     position: absolute;
     width: 45%;
     padding: 20px;
     bottom: 0;
     left: 0;
     display: flex;
 }

 .showText {
     width: 65%;
     color: #fff;
 }

 .mainTop {
     border: 1px solid #CCCCCC;
     box-shadow: 0px 3px 6px #00000029;
     position: relative;
     background: #fff;
 }

  .mainTop #map {
     width: 100%;
     height: 400px;
     background-color: grey;
 }

  .showH1Block {
     padding: 20px;
 }

 .showText p {
     margin-bottom: 5px;
     font-size: 18px;
 }

 .showText .addressHere {
     font-size: 14px;
     display: block;
     margin-bottom: 3px;
 }

 /*Middle 1*/
 #mainMiddle .showroomFloats {
     display: flex;
 }

 #mainMiddle .showroomIcon {
     width: 80px;
 }

 #mainMiddle .showroomFloats h2 {
     width: 88%;
     margin-left: 2%;
     margin-bottom: 10px;
 }

 #mainMiddle .calendarBorder {
     border: 1px solid #CCCCCC;
     box-shadow: 0px 3px 6px #00000029;
     position: relative;
     width: 50px;
     height: 50px;
 }

 #mainMiddle .calendarBorder .topBlue {
     width: 100%;
     height: 10px;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     background-color: #35485C;
 }

 #mainMiddle #showRoomTimes ul li {
     list-style: none;
     display: flex;
     margin: 15px 0;
 }

 #mainMiddle #showRoomTimes ul {
     padding: 0 5px;
 }

 #mainMiddle #showRoomTimes {
     display: flex;
 }

 #mainMiddle #showRoomTimes .leftShowroomColumn,
 #mainMiddle #showRoomTimes .rightShowroomColumn {
     width: 50%;
 }

 #mainMiddle #showRoomTimes .calendarLetter {
     position: absolute;
     margin-left: auto;
     margin-right: auto;
     left: 0;
     right: 0;
     top: 30%;
     width: 100%;
     color: #FF704D;
     font-size: 16px;
     font-weight: 700;
     text-align: center;
 }

 #mainMiddle .showroomCalendar {
     width: 25%;
 }

 #mainMiddle #showRoomTimes .obxtimeAndDays {}

 #mainMiddle #showRoomTimes .obxtimeAndDays .obxday {
     color: #4B87C5;
     text-transform: uppercase;
     font-weight: 700;
     font-size: 20px;
     display: block;
 }

 #mainMiddle #showRoomTimes .obxtimeAndDays .obxtime {
     color: #212121;
     font-size: 20px;
 }

 /*MIDDLE 2*/
 #mainMiddle2 {
     margin-bottom: 40px;
     border: 1px solid #CCCCCC;
     box-shadow: 0px 3px 6px #00000029;
     position: relative;
     background: #fff;
 }

 .showGradient {
     margin-top: 80px;
     margin-bottom: 90px;
 }

 #mainMiddle2 .buttonOverImage {
     background: url('{{media url="wysiwyg/image-left.jpg"}}') no-repeat;
     background-size: cover;
     min-height: 100%;
     position: relative;
     margin: 0;
     padding: 0;
 }

 #mainMiddle2 .buttonOverImage button {
     position: absolute;
     left: 19%;
     right: 0;
     bottom: 40px;
     text-align: center;
 }

 #mainMiddle2 .addedPadding {
     padding: 30px 40px 30px 40px;
 }

 #mainMiddle2 h2 {
     margin-bottom: 20px;
 }

 p.obxBoldBlue {
     color: #35485C;
     font-size: 40px;
     text-align: center;
     font-weight: 700;
     line-height: 1.1;
     margin-top: 90px;
 }

 .showProducts img {
     width: 100%;
 }

 p.obxLightBlue {
     color: #4B87C5;
     font-size: 32px;
     font-weight: 500;
     text-align: center;
     line-height: 1.1;
 }

 p.obxCabinetP {
     padding: 0 60px;
     text-align: center;
 }

 /*Middle Cabinets*/
 #mainMiddleCabinet {
     margin: 20px 0;
 }

 #mainMiddleCabinet .companyNameBoxes {
     background: linear-gradient(180deg, #FFFFFF, #CCCCCCCC);
     border: 1px solid #CCCCCC;
     box-shadow: 0px 3px 6px #00000047;
     height: auto;
     width: 85%;
     padding: 30px 20px;
     position: relative;
 }

 #mainMiddleCabinet .companyNameBoxes .obxcompany {
     display: block;
     color: #35485C;
     font-size: 16px;
     font-weight: 700;
     margin: 5px 0;
     line-height: 1.5;
 }

 #mainMiddleCabinet .companyNameBoxes .obxAddress {
     display: block;
     color: #212121;
     font-size: 14px;
     font-weight: 500;
     width: 80%;
 }

 #mainMiddleCabinet .companyNameBoxes .angieListing {
     position: absolute;
     right: 5%;
     bottom: 7%;
 }

 #mainMiddleVideo {
     margin-top: 60px;
     background: url(https://smhttp-ssl-25623-media.nexcesscdn.net/media/wysiwyg/design-bg.png) no-repeat;
     padding: 40px 20px;
     background-size: cover;
     background-position: center;
 }

 #mainMiddleVideo .videoTexts {
     text-align: center;
     padding: 10px 0;
 }

 #mainMiddleVideo .videoTexts img {
     width: 25%;
     margin-bottom: 10px;
 }

 #mainMiddleVideo .videoTexts p {
     font-size: 34px;
     color: #fff;
     font-weight: 700;
     line-height: 1.1;
 }

 #mainMiddleVideo .videoTexts span {
     font-size: 34px;
     color: #fff;
     font-weight: 500;
     display: block;
     width: 88%;
     margin: 0 auto;
     margin-top: -20px;
     line-height: 1.2;
     margin-bottom: 20px;
 }

 #mainMiddleVideo .imageVideo {
     background: #CCCCCC;
     padding: 10px;
     width: 90%;
     margin: 3% auto;
 }

 /*ADS*/
 #showRoomAds {
     margin-top: 90px;
     margin-bottom: 75px;
 }

 #showRoomAds img {
     max-width: 100%;
 }

 /*REGION SPECIFIED*/


  .mainTopH1 {
     padding: 25px 30px 25px 35px;
 }





 /*Gallery & Products*/
 .homepro-title {
     text-align: right !important;
 }

 .cnt-right {
     margin-top: -60px;
     margin-bottom: 15px;
 }

 .photo-gallery-main div.photo-gallery:first-child {
     padding: 0 25px;
     margin-top: -40px;
 }

 .photo-gallery ul li {
     width: 90%;
 }

 /*Media Queries */
 @media only screen and (max-width:1180px) {



     .mainOverlay {
         width: 44%;
     }

     #mainMiddle .showroomCalendar {
         width: 27%;
     }
 }

 @media only screen and (max-width:1170px) {
      .mainTop #map {
         height: 480px;
     }
 }

 @media only screen and (max-width:992px) {
     .pageWidth {
         max-width: 960px;
     }

     #mainMiddleVideo .imageVideo {
         margin: 10% auto;
     }

     #mainMiddle .showroomCalendar {
         width: 35%;
     }

     .mainOverlay {
         width: 43%;
     }

      .mainTop #map {
         height: 530px;
     }

     #showRoomAds {
         margin-top: 0;
         margin-bottom: 0;
     }
 }

 @media only screen and (max-width:768px) {
     .mainOverlay {
         width: auto;
         position: initial;
     }

      .showH1Block {
         width: 90%;
     }

     #mainMiddle2 .buttonOverImage {
         height: 320px;
         display: block;
     }

     .changeIt {
         width: 86%;
     }

     p.obxBoldBlue {
         margin-top: 0;
     }

     p.obxCabinetP {
         padding: 0;
     }

     #mainMiddleCabinet .companyNameBoxes {
         width: 90%;
         margin: 20px 0;
     }

     #mainMiddleVideo .videoTexts img {
         margin: 10px 0;
     }

     #showRoomAds {
         margin-top: 0;
         margin-bottom: 0;
     }

     .showImage {
         height: 350px;
     }

      .mainTopH1 {
         width: 86%;
     }

     #mainMiddle .calendarBorder {
         height: 35px;
         width: 35px;
     }

     #mainMiddle .showroomCalendar {
         width: 20%;
     }

     #mainMiddle2 .buttonOverImage button {
         position: absolute;
         left: 50%;
         transform: translate(-50%, -50%);
     }

     #showRoomAds img {
         margin: 10px 0;
     }



     #mainMiddleVideo .imageVideo {
         margin: 0 auto;
     }



      .mainTop #map {
         height: 450px;
     }

     .photo-gallery-main div.photo-gallery:first-child {
         margin-top: -40px;
         margin-bottom: 20px;
         text-align: center;
     }
 }

 @media only screen and (max-width:576px) {
     #mainMiddle #showRoomTimes .obxtimeAndDays .obxday {
         font-size: 16px;
     }

     #mainMiddle #showRoomTimes .obxtimeAndDays .obxtime {
         font-size: 16px;
     }

     .pageWidth {
         max-width: 540px;
     }

     .bannerTopCabinets .savingBlock {
         width: 50%;
     }

     .mainOverlay {
         width: 90%;
     }

     #mainMiddle .showroomCalendar {
         width: 25%;
     }



     .photo-gallery-main div.photo-gallery:first-child {
         padding: 0;
     }

     .bannerTopCabinets {
         height: 440px;
     }
 }





 .obxremovePadding {
     padding: 0 !important;
 }

 /*SHOWROOM SPECIFIED*/
     {
     font-family: 'Maven Pro', sans-serif;
     margin: 0;
     padding: 0;
 }



 /*BUTTONS*/
 .showBtn {
     padding: 15px 25px;
     color: white;
     border: none;
     min-width: 180px;
 }

 a {
     text-decoration: none;
     font-size: 12px;
     font-weight: 700;
     color: #fff;
 }

 .salmon {
     background-color: #FF704D;
 }

 .green {
     background-color: #0D9C7D;
 }

 /*MAIN CONTENT*/
  {
     margin-top: 40px;
     margin-bottom: 40px;
 }

  .mainOverlay {
     background-color: #35485C;
     position: absolute;
     width: 100%;
     padding: 20px;
     bottom: 0;
     left: 0;
     right: 0;
     display: flex;
 }

  .mainOverlay .showText {
     width: 65%;
     color: #fff;
 }

  .mainTop {
     border: 1px solid #CCCCCC;
     box-shadow: 0px 3px 6px #00000029;
     position: relative;
     background: #fff;
 }

  .mainTop #map {
     width: 100%;
     height: 400px;
     background-color: grey;
 }

  .showH1Block {
     padding: 20px;
 }

  .mainOverlay .showText p {
     margin-bottom: 5px;
     font-size: 18px;
 }

  .mainOverlay .showText .addressHere {
     font-size: 14px;
     display: block;
     margin-bottom: 3px;
 }

 /*Middle 1*/
 #mainMiddle {
     margin-top: 40px;
     margin-bottom: 40px;
 }

 #mainMiddle .showroomFloats {
     display: flex;
 }

 #mainMiddle img {
     width: 80px;
 }

 #mainMiddle span {
     width: 20%;
 }

 #mainMiddle .showroomFloats h2 {
     width: 88%;
     margin-left: 2%;
 }

 #mainMiddle .calendarBorder {
     border: 1px solid #CCCCCC;
     box-shadow: 0px 3px 6px #00000029;
     position: relative;
     width: 50px;
     height: 50px;
 }

 #mainMiddle .calendarBorder .topBlue {
     width: 100%;
     height: 10px;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     background-color: #35485C;
 }

 #mainMiddle #showRoomTimes ul li {
     list-style: none;
     display: flex;
     margin: 15px 0;
 }

 #mainMiddle #showRoomTimes ul {
     padding: 0 5px;
 }

 #mainMiddle #showRoomTimes {
     display: flex;
 }

 #mainMiddle #showRoomTimes .leftShowroomColumn,
 #mainMiddle #showRoomTimes .rightShowroomColumn {
     width: 50%;
 }

 #mainMiddle #showRoomTimes .calendarLetter {
     position: absolute;
     margin-left: auto;
     margin-right: auto;
     left: 0;
     right: 0;
     top: 30%;
     width: 100%;
     color: #FF704D;
     font-size: 16px;
     font-weight: 700;
     text-align: center;
 }

 #mainMiddle .showroomCalendar {
     width: 25%;
 }

 #mainMiddle #showRoomTimes .obxtimeAndDays {}

 #mainMiddle #showRoomTimes .obxtimeAndDays .obxday {
     color: #4B87C5;
     text-transform: uppercase;
     font-weight: 700;
     font-size: 20px;
     display: block;
 }

 #mainMiddle #showRoomTimes .obxtimeAndDays .obxtime {
     color: #212121;
     font-size: 20px;
 }

 /*MIDDLE 2*/
 #mainMiddle2 {
     margin-top: 40px;
     margin-bottom: 40px;
     border: 1px solid #CCCCCC;
     box-shadow: 0px 3px 6px #00000029;
     position: relative;
     background: #fff;
 }

 #mainMiddle2 .buttonOverImage {
     background: url('../assets/image-left@2x.png') no-repeat;
     background-size: cover;
     min-height: 37%;
     position: relative;
     margin: 0;
     padding: 0;
 }

 #mainMiddle2 .buttonOverImage button {
     position: absolute;
     left: 19%;
     right: 0;
     bottom: 40px;
     text-align: center;
 }

 #mainMiddle2 .addedPadding {
     padding: 30px 40px 30px 40px;
 }

 #mainMiddle2 h2 {
     margin-bottom: 20px;
 }

 p.obxBoldBlue {
     color: #35485C;
     font-size: 40px;
     text-align: center;
     font-weight: 700;
 }

 p.obxLightBlue {
     color: #4B87C5;
     font-size: 32px;
     font-weight: 500;
     text-align: center;
 }

 p.obxCabinetP {
     padding: 0 60px;
     text-align: center;
 }

 /*Middle Cabinets*/

 #mainMiddleCabinet {
     margin: 20px 0;
 }

 #mainMiddleCabinet .companyNameBoxes {
     background: linear-gradient(180deg, #FFFFFF, #CCCCCCCC);
     border: 1px solid #CCCCCC;
     box-shadow: 0px 3px 6px #00000047;
     height: 150px;
     width: 100%;
     padding: 20px;
     position: relative;
 }

 #mainMiddleCabinet .companyNameBoxes .obxcompany {
     display: block;
     color: #35485C;
     font-size: 16px;
     font-weight: 700;
     margin: 5px 0;
 }

 #mainMiddleCabinet .companyNameBoxes .obxAddress {
     display: block;
     color: #212121;
     font-size: 14px;
     font-weight: 500;
     width: 80%;
 }

 #mainMiddleCabinet .companyNameBoxes .angieListing {
     position: absolute;
     right: 5%;
     bottom: 7%;
 }

 #mainMiddleCabinet .companyNameBoxes img {
     width: 14%;
 }

 #mainMiddleVideo {
     margin-top: 40px;
     margin-bottom: 40px;
     background: black;
     padding: 40px 20px;
 }

 #mainMiddleVideo .videoTexts {
     text-align: center;
     padding: 10px 0;
 }

 #mainMiddleVideo .videoTexts img {
     width: 25%;
 }

 #mainMiddleVideo .videoTexts p {
     font-size: 34px;
     color: #fff;
     font-weight: 700;
 }

 #mainMiddleVideo .videoTexts span {
     font-size: 34px;
     color: #fff;
     font-weight: 500;
     display: block;
     width: 88%;
     margin: 0 auto;
     margin-top: -20px;
     line-height: 1.2;
     margin-bottom: 20px;
 }

 #mainMiddleVideo .imageVideo {
     background: #CCCCCC;
     padding: 10px;
 }

 /*ADS*/
 #showRoomAds {
     margin-top: 40px;
     margin-bottom: 40px;
 }

 #showRoomAds img {
     max-width: 100%;
 }

 /*REGION SPECIFIED*/
  .showImage {
     padding: 0;
     background-image: url("../assets/cleveland-left.png");
     background-size: cover;
     width: 100%;
 }

  .showImage img {
     max-width: 100%;
 }

  .mainTopH1 {
     padding: 30px 35px 20px 35px;
 }




/*MEDIA QUERIES*/
@media only screen and (max-width:992px) {
	.full-banner .mainimg-ecommerce { top: -15px; right: -35px; }
	.mobileCenter { text-align: center; }
}
@media only screen and (max-width: 768px) {
	p { font-size: 16px; }
	.push-2 { display: block; }
	#footer .logo { width: 10%; }
	#footer .logoHeader { font-size: 24px; }
	#footer .heading { text-align: center; margin: 20px 0; font-size: 24px; }
	.orangeList-2 { min-height: 150px; }
	.full-banner-2 .background-dark-article { margin-top: 75px; }
	.full-banner-2 { min-height: 400px; padding: 0 20px; }
	.full-banner-2 .mainimg-ecommerce { top: 10px; right: 20px; width: 12% }
	.pngHeader { width: 20%; }
	.full-banner { min-height: 420px; padding: 0 20px; }
	.full-banner .mainimg-ecommerce { right: 0; top: 6%; width: 18%; }
	.mobilePadding { padding: 20px 0; }
}
@media only screen and (max-width: 576px) {
	.full-banner .mainimg-ecommerce{display:none;}
	.full-banner-2 .mainimg-ecommerce{display:none;}
	.full-banner,
	.full-banner-2{min-height:650px;}
	nav .logo{width:15%;}
}